/.bundle/
/vendor/bundle/
/lib/bundler/man/
/.yardoc/
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.rspec_status
.byebug_history
.env
.env.*
.idea/
.vscode/
.DS_Store
Gemfile.lock
spec/
